.Coins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.coin-button {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  font-size: 16px;

  &:hover {
    background-color: #bbb; 
    cursor: pointer;
  }

  &:active {
    background-color: #aaa; 
  }
}

.display {
  background-color: rgb(143, 187, 188);
  width: 190px;
  font-size: 18px;
  font-weight: bold;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid white;
  color: rgb(42, 25, 25);
}

.selector {
  width: 190px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.selector input {
  max-height: 24px;
  color: rgb(0, 217, 255);
  width:80px;
  text-align: center;
  margin: 10px;
  flex: 1;
}

.selector button {
  background-color: rgb(0, 140, 255);
  border-radius: 8px;
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
  &:hover {
    background-color: rgb(43, 122, 186); 
    cursor: pointer;
  }
  &:active {
    background-color: rgb(0, 104, 186); 
  }
}

.reset {
  background-color: rgb(106, 10, 82);
  border-radius: 8px;
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
  &:hover {
    background-color: rgb(186, 43, 117); 
    cursor: pointer;
  }
}
