.VendingMachine {
  display: flex;
  padding: 20px;
  box-sizing: border-box;

  .MainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ProductList {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      border: 1px solid white;
    }

    
    .Dispenser {
      flex: 1;
      flex-wrap: wrap;
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;

      .product {
        border: 1px solid white;
        margin: 0 10px;
      }
    }
    
  }

  .Pannel {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
  }
}